.git/*
.vscode/*

# bin/*
# source/*

# build/build.sh
# build/.build_config

# datapacks/food-rebalance/*

datapacks/vanilla/.vscode
# datapacks/vanilla/spyglass.json
datapacks/vanilla-half/.vscode
# datapacks/vanilla-half/spyglass.json
datapacks/food-rebalance/.vscode
# datapacks/food-rebalance/spyglass.json

# md/en/features_food-rebalance.md
# md/ru/features_food-rebalance.md
